<div id="<%= dom_id building %>">
  <p>
    <strong>Total residential area:</strong>
    <%= building.total_residential_area %>
  </p>

  <p>
    <strong>Total usable area:</strong>
    <%= building.total_usable_area %>
  </p>

  <p>
    <strong>Plot area:</strong>
    <%= building.plot_area %>
  </p>

</div>
