<% content_for :title, "Editing housing unit" %>

<h1>Editing housing unit</h1>

<%= render "form", housing_unit: @housing_unit %>

<br>

<div>
  <%= link_to "Show this housing unit", building_housing_unit_path(@building) %> |
  <%= link_to "Back to housing units", building_housing_units_path(@building) %>
</div>
