<% content_for :title, "Editing housing unit" %>

<h1>Editing housing unit</h1>

<%= render "form", housing_unit: @housing_unit %>

<br>

<div>
  <%= link_to "Show this housing unit", @housing_unit %> |
  <%= link_to "Back to housing units", housing_units_path %>
</div>
